@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.donation-card {
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

.container-two img {
  margin-left: 50px;
  width: 500px;
}

.container-one h1 {
  font-size: 60px;
}

.container-one {
  margin-top: 50px;
  margin-left: 50px;
  width: 500px;
}
/* homepage css */
.container-1-home img {
  width: 100%;
  height: auto;
  align-items: center;

  display: block;
}
.container-1-text {
  /* width:100%; */
  height: auto;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;

  display: block;
}

.container-2-h2 {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}




.locateBtn {
  background-color: #ffe8ba;
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-weight: 600;
}
.container-1-text h1 {
  font-weight: 800;

}

.card {
  border: 0;
  width: 10rem;
  height: 10rem;
  column-gap: 0.1em;
  margin-bottom: 10rem;
  
}




.container-card3-2 button {
  background-color: var(--light-salmon);
  border-radius: 10px;
  padding:20px; 
  border: none;
  font-weight: 600;
  

  /* margin-top: 50px;
  margin-left: 50px;
  width: 500px;
  height:450px;
  text-align: center; */
}
.container-card2 {
  width: 100%;
  height: auto;
  text-align: center;

}


button:focus{

  outline: none;
}

a:hover {
  text-decoration: none;
  color: var(--olive-green);
}
.container-card3-2 {
  height:100%;
  text-align: right;
  padding-left:20%;
  padding-right:25%;
  padding-top:25%;
  width:auto;
  display: block;
  
}

.container-card3-2 h2{
  font-size:-10px; 
}
.container-card4-1{
  padding-left:20%;
  font-size:30%;
  text-align: left;
}
.container-card4-2{
  padding-left: -30%;
  padding-top: -20%;
}
.card3 button{
  background-color: #ffe8ba;
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-weight: 600;
  height: 140%;
  width:100%;

}
.card3 h1{
  text-align:left;
  
}
.card3{
  /* background-color: var(--light-salmon); */
  text-align:center;
  align-items: center;
  /* padding-left:20% ; */
  /* width: 100%; */
  
} 
.container-card{
   /* background-color: #f1e7e9;  */
}