@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ol {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

ol li {
  list-style-type: none;
}

.locator-card {
  margin-left: 100px;
  width: 350px;
  text-align: left;
}

.donation-card {
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

.container-two img {
  margin-left: 50px;
  width: 500px;
}

.container-one h1 {
  font-size: 60px;
}

.container-one {
  margin-top: 50px;
  margin-left: 50px;
  width: 500px;
 
}
 /* homepage css */
.container-1-home img{
  width:100%; 
  height:auto;
  align-items: center; 
  
  display: block;
 
}
.container-1-text{
  /* width:100%; */
  height:auto;
  text-align: left;
  padding-left:25%;
  padding-right:25%;
  padding-top: 10%;

  display: block;
}
.container-2-h2{
  width:100%;
  font-size: 40px;
  font-weight: 700;

}
.locateBtn{
  background-color: #FFE8BA;
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-weight: 600;
}
.container-1-text h1{
  font-weight: 800;
}

.card{
  border: 0;
  align-items: center;
}


.flex {
  display: flex;
  flex-direction: row;
}
 .cards h2{
  margin-left: 10px;
  
 }

 .cards {
  border: none;
  align-items: center;
 }

 .card3{
   height: 100%;
   width:auto;
   background-color: #FFE8BA;
   padding-right: 25%;
 }

 .card3 img{
  height: 280px;
  width:250px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-card3-1 img {
  margin-left: 10%;
  width: 100%;
  height:auto;
  align-items: right;  
  display: block;
 
}
.container-card3-1{
  width:100%; 
  height:auto;
  align-items: left; 
  
  display: block;
}

.container-card3-2 h2 {
 font-weight:100;
}

.container-card3-2 {
  height:100%;
  text-align: right;
  padding-left:25%;
  padding-right:25%;
  padding-top:25%;
  width:auto;
  display: block;

  /* margin-top: 50px;
  margin-left: 50px;
  width: 500px;
  height:450px;
  text-align: center; */
  
} 

.container-card3-2 button{
  background-color: var(--light-salmon);
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-weight: 600;


  /* margin-top: 50px;
  margin-left: 50px;
  width: 500px;
  height:450px;
  text-align: center; */
  
} 
.container-card2{
  width:100%;
  height:auto;
  text-align: center;
} */

button:focus{
  outline: none;
}

a:hover{
  text-decoration: none;
  color: var(--olive-green)
}
