@import "../../styles/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  text-align: center;
  background-color: var(--background);
}

.header {
  font-size: 30px;
  font-weight: 600;
}


 ol li {
  list-style-type: none;
}

.info-card {
  text-align: left;
  background-color: var(--light-salmon);
}

/* commented out by trina */
/* .locator-elements {
  margin-left: 55px;
} */


/* this is needed do not delete */
.locations-scroll {
  padding-top:20px;
  height: 800px;
  overflow-y: scroll;
  /* commented by trina */
  /* width: 20px; */
}

.submitBtn {
  background-color: var(--vanilla);
  height: 55px;
  width: 100px;
  border: none;
  border-radius: 10px;
}



/* background-color: #ffe8ba;
border-radius: 10px;
padding: 20px;
border: none;
font-weight: 600; */

@media only screen and (max-width: 600px) {
  .locations-scroll {
    height: 400px;
    overflow-y: scroll;
    /* commented by trina */
    /* width: 20px; */
  }
  
}
